<div class="container-fluid">

	<div class="navbar-header">
		<h4 class="h-20" ng-click="goToMain()" style="cursor:pointer;">TodoApp For KaKao</h4>
		<button class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
			<i class="fa fa-fw fa-user text-white"></i>
		</button>
		<button id="toggle-lnb" class="action-sidebar-open navbar-toggle collapsed" type="button">
			<i class="fa fa-fw fa-bars text-white"></i>
		</button>
	</div>

	<div class="collapse navbar-collapse" id="navbar">
		<!-- START Left Side Navbar -->
		<ul class="nav navbar-nav navbar-left clearfix yamm">

			<!-- START Switch Sidebar ON/OFF -->
			<li id="sidebar-switch" class="hidden-xs">
				<a class="action-toggle-sidebar-slim" data-placement="bottom" data-toggle="tooltip" href="#" title="Slim sidebar on/off">
					<i class="fa fa-lg fa-bars fa-fw"></i>
				</a>
			</li>
			<!-- END Switch Sidebar ON/OFF -->
		</ul>
		<!-- START Left Side Navbar -->

		<!-- START Right Side Navbar -->
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle user-dropdown" data-toggle="dropdown" href="#" role="button">
					<span class="m-r-1 text-white">{{user.name}} 님 환영합니다.</span>
					<div class="avatar avatar-image avatar-sm avatar-inline">
						<img alt="User" src="https://s3.amazonaws.com/uifaces/faces/twitter/ademilter/128.jpg">
					</div>
				</a>
				<ul class="dropdown-menu">
					<li class="dropdown-header text-gray-lighter">
						<strong class="text-uppercase">Account</strong>
					</li>
					<li role="separator" class="divider"></li>
					<li>
						<a href="#profiles">프로필</a>
					</li>
					<li>
						<a href="#settings/{{user.id}}">환경설정</a>
					</li>
					<li>
						<a href="/">FAQ</a>
					</li>
					<li role="separator" class="divider"></li>
					<li>
						<a href="/logout">로그이웃</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/logout">로그아웃
					<i class="m-l-1 fa-lg fa fa-fw fa-sign-out m-r-1"></i>
				</a>
			</li>

		</ul>
		<!-- END Right Side Navbar -->
	</div>

</div>