

	<div class="sidebar-overlay-head">
		<img src="assets/images/spin-logo-inverted.png" alt="Logo" />
		<a href="javascript:void(0)" class="sidebar-switch action-sidebar-close">
			<i class="fa fa-times"></i>
		</a>
	</div>
	<div class="sidebar-logo">
		<img class="logo-default" src="assets/images/spin-logo-big-inverse-@2X.png" alt="Logo" width="53">
		<img class="logo-slim" src="assets/images/spin-logo-slim.png" alt="Logo">
	</div>

	<div class="sidebar-content">
		<!-- START Tree -->
		<ul class="side-menu m-t-2">
			<li class="Dashboards">
				<a href="#" title="Dashboards">
					<i class="fa  fa-folder-open-o fa-lg fa-fw"></i><span class="nav-label">Folder</span><i class="fa arrow"></i>
				</a>
				<ul>
					<li class='active'>
						<a href="#"><span class="nav-label">Starter HTML/CSS</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#" title="Page">
					<i class="fa fa-lg fa-file-o fa-fw"></i><span class="nav-label">Page</span>
					<span class="pull-right label label-primary label-outline text-uppercase">New</span>
				</a>
			</li>
			<li>
				<a href="#" title="Apps">
					<i class="fa fa-files-o fa-fw fa-lg"></i><span class="nav-label">Levels</span> <i class="fa arrow"></i>
				</a>
				<ul>
					<li>
						<a href="#">
							<span class="nav-label">Level One</span> <i class="fa arrow"></i>
						</a>
						<ul>
							<li>
								<a href="#"><span class="nav-label">Sub-level</span></a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		<!-- END Tree  -->

		<div class="sidebar-default-visible"><hr></div>

	</div>
