<div class="chat-container">
	<div class="panel panel-default no-bg b-a-2 b-gray-dark collapsible-panel">
		<!-- START Scroll Inside Panel -->
		<div style="max-height: 292px; overflow-y:scroll" class="custom-scrollbar">

			<div class="panel-body">

				<!-- START Left Chat -->
				<div class="media">
					<div class="media-left">
						<div class="avatar avatar-image avatar-sm loaded">
							<img class="media-object img-circle" alt="Avatar"
								 src="https://s3.amazonaws.com/uifaces/faces/twitter/swooshycueb/128.jpg">
							<i class="avatar-status avatar-status-bottom bg-warning b-brand-gray-darker"></i>
						</div>
					</div>
					<div class="media-body">
						<div class="panel-default">
							<div class="panel-body bg-gray-dark text-white b-r-a-3">
								<span>Magnam voluptas error esse velit hic.</span>
							</div>
						</div>
						<h6 class="m-t-1"><span>Emmanuel Stanton</span>
							<small><span> 08:20</span></small>
						</h6>
					</div>
				</div>
				<!-- END Left Chat -->

				<div class="hr-text hr-text-center m-t-0 m-b-0">
					<h6 class="text-white"><strong>Yesterday</strong></h6>
				</div>

				<!-- START Right Chat -->
				<div class="media m-b-0">
					<div class="media-body">
						<div class="panel-default">
							<div class="panel-body bg-primary text-white b-r-a-3">
								<span>Expedita saepe ea voluptas.</span>
							</div>
						</div>
						<h6 class="m-t-1"><span>Myrtle Kub</span>
							<small><span> 04:48</span></small>
						</h6>
					</div>
					<div class="media-right">
						<div class="avatar avatar-image avatar-sm loaded">
							<img class="media-object img-circle" alt="Avatar"
								 src="https://s3.amazonaws.com/uifaces/faces/twitter/joelcipriano/128.jpg">
							<i class="avatar-status avatar-status-bottom bg-danger b-brand-gray-darker"></i>
						</div>
					</div>
				</div>
				<!-- END Right Chat -->

				<!-- START Left Chat -->
				<div class="media">
					<div class="media-left">
						<div class="avatar avatar-image avatar-sm loaded">
							<img class="media-object img-circle" alt="Avatar"
								 src="https://s3.amazonaws.com/uifaces/faces/twitter/claudioguglieri/128.jpg">
							<i class="avatar-status avatar-status-bottom bg-success b-brand-gray-darker"></i>
						</div>
					</div>
					<div class="media-body">
						<div class="panel-default">
							<div class="panel-body bg-gray-dark text-white b-r-a-3">
								<span>Voluptate cum cumque at quis id quia assumenda. Dolor vero deserunt perspiciatis in qui culpa. Autem a at ad et totam ad quam dolorem eveniet.</span>
							</div>
						</div>
						<h6 class="m-t-1"><span>Anissa Sawayn</span>
							<small><span>07:22</span></small>
						</h6>
					</div>
				</div>
				<!-- END Left Chat -->

				<!-- START Right Chat -->
				<div class="media m-b-0">
					<div class="media-body">
						<div class="panel-default">
							<div class="panel-body bg-gray-dark text-white b-r-a-3">
								<span>Culpa doloribus aut culpa voluptas deserunt vel pariatur.</span>
							</div>
						</div>
						<h6 class="m-t-1"><span>Scarlett Powlowski</span>
							<small><span> 06:20</span></small>
						</h6>
					</div>
					<div class="media-right">
						<div class="avatar avatar-image avatar-sm loaded">
							<img class="media-object img-circle" alt="Avatar"
								 src="https://s3.amazonaws.com/uifaces/faces/twitter/antonyzotov/128.jpg">
							<i class="avatar-status avatar-status-bottom bg-danger b-brand-gray-darker"></i>
						</div>
					</div>
				</div>
				<!-- END Right Chat -->

			</div>

		</div>
		<!-- END Scroll Inside Panel -->
		<!-- END Content -->

		<!-- START Footer -->
		<div class="panel-footer">

			<div class="input-group input-group-sm">
				<input type="text" class="form-control" placeholder="메세지를 입력하세요.">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button">전송</button>
				</span>
			</div>

		</div>
		<!-- END Footer -->

	</div>
</div>