<div class="container">
	<!-- START EDIT CONTENT -->
	<div class="row">
		<div class="col-lg-12 col-md-8">
			<div class="input-group m-t-2 m-b-3">
				<input type="text" class="form-control" placeholder="What needs to be done?" ng-model="emptyBoard.content"
					   ng-keydown="$event.which === 13 && add(emptyBoard)">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" ng-click="add(emptyBoard)"><i class="fa fa-fw fa-pencil"></i></button>
				</span>
			</div>

			<!-- START Tool bar -->
			<div class="input-group m-t-2 m-b-3">
				<div class="btn-toolbar pull-right">
					<div class="btn-group" role="group" aria-label="...">
						<a class="btn btn-default" href="javascript: void(0)"
						   ng-click="up()" role="button"><i class="fa fa-arrow-up"></i></a>
						<a class="btn btn-default" href="javascript: void(0)"
						   ng-click="down()" role="button"><i class="fa fa-arrow-down"></i></a>
					</div>
				</div>
			</div>
			<!-- END Tool bar -->

			<!-- START Table Files -->
			<div class="table-responsive" style="height: 800px;">
				<table class="table table-hover">
					<thead>
					<tr>
						<th class="small text-muted text-uppercase"><strong>#</strong>
						</th>
						<th class="small text-muted text-uppercase"><strong>Content</strong>
						</th>
						<th class="small text-muted text-right text-uppercase"><strong>Update</strong>
						</th>
						<th class="small text-muted text-uppercase text-right"><strong></strong>
						</th>
					</tr>
					</thead>
					<tbody>
					<!-- START ROW Task -->
					<tr ng-repeat="board in boards">
						<td class="v-a-m">
							<p class="text-nowrap m-b-0">
								<label class="m-t-0">
									<input type="checkbox" name="checkbox" class="radio"
										   value="{{board.id}}"
										   data-toggle="tooltip" data-placement="top" title="Select this Message">
								</label>
							</p>

						</td>
						<td class="v-a-m">
							<a href="#">
								<span>{{board.content}}</span>
							</a>
							<br>
						</td>
						<td class="v-a-m text-right">
							<span>{{board.modifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
						</td>
						<td class="text-right v-a-m">
							<a href="#" ng-click="edit($event, board)" data-toggle="modal" data-target=".modal-alert-danger"><i
									class="fa fa-fw fa-edit text-gray-lighter m-r-1"></i></a>
							<a href="#" ng-click="remove($event, board)" data-toggle="modal" data-target=".modal-alert-danger"><i
									class="fa fa-fw fa-trash text-gray-lighter m-r-1"></i></a>
						</td>
					</tr>
					<!-- END ROW Task -->

					</tbody>
				</table>
			</div>
			<!-- END Table Files -->

		</div>

	</div>

	<!-- END EDIT CONTENT -->
</div>
</div>
